.main {
  min-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
  margin-left: 20%;
}

.footer {
  display: flex;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.cr_link {
  margin-left: 5px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.cr_link:hover {
  transition: all .3s ease;
  color: grey;
}

.image {
  margin-left: 10%;
  height: 50%;
  width: 50%;
  border-radius: 20px;
}

.title {
  font-size: 2rem;
  margin: 2rem 0;
}

.description {
  line-height: 1;
  margin: 2rem 0;
  font-size: 1.2rem;
}

.button {
  border-radius: 4px;
  background-color: rgb(58, 58, 255);
  border: none;
  color: #ffffff;
  font-size: 15px;
  padding: 20px;
  width: 200px;
  cursor: pointer;
  margin-bottom: 2%;
}

.button:hover {
  transition: all .3s ease;
  background-color: rgb(105, 105, 247);
}


@media (max-width: 1000px) {
  .main {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}